11 Control PID Motor-Arduino/11 Control PID Motor-Arduino/flows_PID_Arduino.json
[
    {
        "id": "13587f3eea6f67d7",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "107364a526acef3d",
        "type": "serial in",
        "z": "13587f3eea6f67d7",
        "name": "",
        "serial": "f8f1d4ec0f9818b1",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "430acf968ebf0cd5",
                "bcbbf3fd88303759"
            ]
        ]
    },
    {
        "id": "056dfec1294da83e",
        "type": "debug",
        "z": "13587f3eea6f67d7",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "430acf968ebf0cd5",
        "type": "function",
        "z": "13587f3eea6f67d7",
        "name": "Recibe modo",
        "func": "var data=msg.payload;\nvar temp=data.split(\",\");\nvar out={};\nout[\"cv\"]=temp[0];\nout[\"sp\"]=temp[1];\nout[\"pv\"]=temp[2];\n//out[\"movimiento\"]=temp[3];\n\nmsg.payload=out;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "466a8170c33929a9",
                "0a7d9c627d459df0",
                "fd0422786f0ae293"
            ]
        ]
    },
    {
        "id": "466a8170c33929a9",
        "type": "ui_text",
        "z": "13587f3eea6f67d7",
        "group": "e39839775976cc3c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CV",
        "format": "{{msg.payload.cv}}",
        "layout": "row-spread",
        "className": "md-card.my-button button { color: red }",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "0a7d9c627d459df0",
        "type": "ui_text",
        "z": "13587f3eea6f67d7",
        "group": "e39839775976cc3c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SP",
        "format": "{{msg.payload.sp}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "fd0422786f0ae293",
        "type": "ui_text",
        "z": "13587f3eea6f67d7",
        "group": "e39839775976cc3c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PV",
        "format": "{{msg.payload.pv}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "c6bbed016b23e853",
        "type": "ui_chart",
        "z": "13587f3eea6f67d7",
        "name": "",
        "group": "544bd4e09798c79e",
        "order": 4,
        "width": "6",
        "height": "10",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "220",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "bcbbf3fd88303759",
        "type": "function",
        "z": "13587f3eea6f67d7",
        "name": "Recibe modo",
        "func": "var data=msg.payload;\nvar temp=data.split(\",\");\nvar out={};\n//out[\"humedad\"]=temp[0];\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nmsg1.payload=parseFloat(temp[0]);\nmsg1.topic = 'Line1';\n\nmsg2.payload=parseFloat(temp[1]);\nmsg2.topic = 'Line2';\n\nmsg3.payload=parseFloat(temp[2]);\nmsg3.topic = 'Line3';\n\n\nreturn [msg1,msg2,msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 140,
        "wires": [
            [
                "056dfec1294da83e",
                "c6bbed016b23e853"
            ],
            [
                "056dfec1294da83e",
                "c6bbed016b23e853"
            ],
            [
                "c6bbed016b23e853",
                "056dfec1294da83e"
            ]
        ]
    },
    {
        "id": "f8f1d4ec0f9818b1",
        "type": "serial-port",
        "serialport": "COM6",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "e39839775976cc3c",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "0934810a1127a9ad",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "544bd4e09798c79e",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "0934810a1127a9ad",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "0934810a1127a9ad",
        "type": "ui_tab",
        "name": "ARDUINO",
        "icon": "dashboard",
        "order": 13,
        "disabled": false,
        "hidden": false
    }
]